*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 110%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.048),rgba(73, 106, 197, 0.4)),url(img/registra.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 550px;
    position: relative;
    margin: 8% auto;
    background: rgba(120, 80, 80, 0.096);
    padding: 10px;
    overflow: hidden;
}
.button-box{
    width: 300px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 0 100px 50px #68ACD3;
    border-radius: 20px;
}

.toogle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 170px;
    height: 100%;
    background: linear-gradient(to right, #FBFCFC,#FBFCFC);
    border-radius: 100px;
    transition: .5s;
}


.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #68ACD3;
    cursor: pointer;
    border-radius: 50%;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 300px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(146, 133, 133);
    outline: none;
    background: transparent;
}

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #B06AB3;
    padding-top: 20px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #EDF3F1,#3D81C1);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.chech-box{
    margin: 40px 20px 30px 0;
}
span{
    color: #EDF3F1;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
}

